
<% @ungraded_answers.each do |question, responses| %>
  <div class="grading-question grading-inactive">
    <h3><%= question %></h3>
    <% responses.each do |response| %>
      <% next unless response.correct.nil? %>
      <div class="sortable grading-inactive grading-answer" id="<%=response.id%>">
        <p><%= response.content %></p>
      </div>
    <% end %>
  </div>
<% end %>

<div id="correct-hit-box">
  <div id="correct">
    <p class="landing-zones">Correct<p>
  </div>
</div>

<div id="incorrect-hit-box">
  <div id="incorrect">
    <p class="landing-zones">Incorrect<p>
  </div>
</div>
