
<h1>You just finished the Quiz !</h1>


<img src="http://cupcakesandcrinoline.com/wp-content/uploads/2011/08/MBQhaveaniceday_smiley10_PF.jpg", width="250" , height="300"> </img>

<ul><li> <%= link_to "Back to Home", quizzes_path %> </li>
</ul>


