<div id="headline">Exit Slips</div>

<%= image_tag 'ExitSlipLogo.jpg' %>

<div id="description">
	<h1>Exit slip data made simple.</h1>
	<p>ExitSlips keeps track of your students' exit slip data so you can spend more time teaching.</p>
</div>

<div id="create-quiz">
	<h1>Create quizzes that target CCSS</h1>
	<p>Simply indicate your grade level and content area, and exit slips automatically provides codes and descriptions for every Common Core State Standard that applies.</p>
</div>

<div id="see-data">
	<h1>See student progress toward class goals</h1>
	<p>Use ExitSlips to see how your students are mastering the standards, broken down by class and quiz.</p>
</div>

<div id="make-groups">
	<h1>Make groups based on quiz results</h1>
	<p>After students complete an exit slip, automatically separate groups based on results. Choose heterogeneous, homogeneous, or random groups and ExitSlips takes care of the rest.</p>
</div>

<div id="grade">
	<h1>Quickly grade open responses</h1>
	<p>With ExitSlip's Tinder for Student Understanding® feature, quickly </p>
</div>