<% @sections.each do |section| %>

<ul>
	<li><%= section.name %></li>
	<li><%= @sum_correct %></li>
	<li><%= @sum_possible %></li>
	<li><%= @mastery %></li>
</ul>

<div class="mastery_vs_section">
	
</div>

<% end %>