<div id="quiz-selection">
     <%= form_tag quiz_path,:method => :get do %>
	   <%= select_tag :id, options_from_collection_for_select(@quizzes.all, :id, :name), prompt: "All Standards" %>
     <%end%>
</div>
