
<table id="table-quiz" class="table-inactive">
  <thead>
    <tr id='header'>
      <th id="student-name">Name</th>
    </tr>
  </thead>
  <% @students.each do |student| %>
    <tr id="quiz-<%=student.id %>">
      <td class="student-row"><%= student.full_name %></td>
    </tr>
  <% end %>
</table>