
<h1>  Sections</h1>
<div id = "sections">
<%= link_to 'Join A Section', new_section_path %>
<%if @sections.length !=0 %>
	<table>
	  <tr>
	    
	    <th colspan="2"></th>
	  </tr>
 
	<% @sections.reverse.each do |section| %>
	  <tr>
	    <td><%= link_to section.name, section_path(section) %><td>
	    
	   
	<% end %>



<%= render 'sections_sidebar' %>

<div class="content">
    <h1> Welcome, <%= @teacher.full_name %>!</h1>
    <hr>
    <h1> All Sections</h1>
    <hr>
    <h1> Latest Quiz</h1>


</div>
  <div id="main">
  </div>

