<div id="student-quizzes">
  <h1 id="student-section"><%= @section.name %></h1>
  <br>
  <h3 id="student-teach-name">with <%= @teacher.full_name %></h3>
  <br>

  <% @quizzes.each do |quiz| %>
    <%= link_to quiz.name, new_quiz_sitting_path(quiz), class: 'link-to-siting' %>
    <br>
  <% end %>
</div>
