/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */

body {
	margin: 0;
  font-family: 'Raleway', 'Helvetica', Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

#container {
  margin-left: 250px;
  margin-right: 0;
  width: 80%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 5%;
  display: block
}


#error_explanation ul {
  color: white;
  list-style: none;
  background-color: #FF832C;
  border-radius: 10px;
}

.notice {
  color: white;
  background-color: #FF832C;
  border-radius: 10px;
  list-style: none;
  line-height: 2em;
  max-width: 20%;
}

.red-cell {
  background-color: #c60013;
}

.yellow-cell {
  background-color: #bfcb40;
}

.green-cell {
  background-color: #AEE239;
}

.link-box, .get-groups-button {
  background-color: #0FB493;
  color: white;
  text-decoration: none;
  width: 20%;
  padding: 1em;
  text-align: center;
  margin-bottom: 20px;
  border: none;
  font-size: 100%;
  font-weight: 100;
  display: inline-block;
}

.link-box:hover, .get-groups-button:hover {
  background-color: #0c8d74;
  transition: .2s;
}

.tooltip {
  display:none;
  position:absolute;
  background-color:#152737;
  border-radius:5px;
  padding:10px;
  color:#ffffff;
  font-size:12px Arial;
}

td {
  white-space:nowrap;
}
