@import "shared";

.sortable {
  position: absolute;
  &:last-child{
    box-shadow: 5px 5px $midnight-sky;
  }
  overflow: hidden;
  background-color: $cream;
  width: 20%;
  min-height: 100px;
  text-align: left;
  z-index: 1;
  padding: 5px;
  left: 50%;
}

#correct-hit-box {
  position: fixed;
  right: 0;
  height: 100%;
  width: 300px;
  display: block;
}

#incorrect-hit-box {
  position: fixed;
  left: 20%;
  height: 100%;
  width: 300px;
}

.groups form {
  display: none;
}

.grading-area {
  text-align: center;
  margin: auto;
  h1{
    font-size: 2em;
    margin: 5px;
  }
  h3 {
    padding:5%;
    font-size: 1.5em;
  }
}

.grading-question {
  width: 100%;
  padding: 5%;
  text-align: center;
}




