// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sortable {
	position: absolute;
	overflow: hidden;
	background-color: #F9F2E7;
	border-radius: 10px;
	display: inline block;
}

#correct {
	position: fixed;
	right: 0;
	height: 2em;
	padding: 5px;
	background-color: #8FBE00;
	border-radius: 10px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

#incorrect {
	position: fixed;
	left: 0;
	height: 2em;
	padding: 5px;
	background-color: #8FBE00;
	border-radius: 10px;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
}

.query {
	font-size: 1.2 em;
	font-weight: bold;
}

