// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#section-name {
  margin-left: 20%;
  font-size: 2em;
}

#quiz-selection{
  padding: 7px;
  #id {
    margin-left: 25%;
    width: 200px;
    background: transparent;
    border-radius: 0;
    height: 25px;
  }
}
