// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "shared";




#section-name {
  text-align: center;
  font-size: 2em;
}

#quiz-selection{
  text-align: center;
  padding: 20px;
  #id {
    width: 200px;
    background: transparent;
    border-radius: 0;
    height: 25px;
  }
}

#new-section {
  position: relative;
  text-align: center;
  width: 287px;
  margin: auto;
  h1 {
    font-size: 3em;
  }
#section_name, #section_subject, #section_grade, input[value='Create Section']  {
  width: 287px;
  background: transparent;
  border-radius: 0;
  margin: 5px;
  height: 30px;
  font-size: 1em;
  }
}

table {
  thead #standard-code {
    width: 15px;
    padding: 0;
    -webkit-transform: rotate(270deg);
    -moz-transform:    rotate(270deg);
    -ms-transform:     rotate(270deg);
    -o-transform:      rotate(270deg);
  }
  td {
    height: 30px;
    width: 10px;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    }
  .table-student-name {
    padding: 0 3px 0 0;
    vertical-align: middle;
  }
}

.quiz-data-table table {
  td, th {
    border: 1px solid $dark-blue;
    padding: 5px;
  }
  th {
    text-align: left;
    width: 30px;
    background-color: $dark-blue;
    color: white;
  }
  td {
    margin-right: 5px;
  }
  .student-row {
    padding: 5px;
    white-space:nowrap
  }
}

#table-all-standards table {
  td {
    border: 1px solid $dark-blue;
  }
}

.group-listing ul {
  margin-top: 1em
}

#student-join-section {
  color: white;
}
#passcode-listing {
  width: 30%;
  text-align: center;
  display: block;
  margin: 20px auto 10px auto;
  h6 {
    // font-weight: 400;
  }
}

#section-index{
  #teacher-name {
    font-size: 2em;
  }
}

#student-name, #student-section {
  font-size: 2em;
}

#student-teach-name {
  font-size: 1em;
}

#student-quizzes {
  a {
    color: $light-blue;
    &:hover{
      color: $midnight-sky;
      transition: .5s;
    }
  }
}

.group-listing {
  ul {
    display: block;
    width: 30%;
    border: 1px solid $light-blue;
    padding: 10px 0px;
  }
  margin-bottom: 30px;
}
