@import "shared";

#sign-up-background {
	position: absolute;
	top: 0;
	left: 0;
	background-color: $dark-blue;
	height: 100%;
	width: 100%;
}


#sign-up {
  font-family: 'Lato', 'Raleway', Helvetica', sans-serif;
  position: relative;
  background-color: $dark-blue;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 287px;
  margin: auto;
  color: white;
  h1 {
    font-size: 3em;
  }
  a {
  color: $light-blue;
  &:hover{
    color: $midnight-sky;
    transition: .5s;
  	}
	}	
  .link-box {
	  background-color: #0FB493;
	  color: white;
	  text-decoration: none;
	  width: 287px;
	  padding: 1em;
	  text-align: center;
	  margin-bottom: 20px;
	  margin-left: 4px;
	  border: none;
	  font-size: 100%;
	  font-weight: 100;
	  display: inline-block;
	}
	.link-box:hover {
	  background-color: #0c8d74;
	  transition: .2s;
	}
	#user_first_name, #user_last_name, #user_email, #user_type, #user_password, #user_password_confirmation, #user_user_type  {
	  width: 287px;
	  background: white;
	  border-radius: 0;
	  margin: 5px;
	  height: 30px;
	  font-size: 1em;
  }
}
